<h1>Thank you for your response!</h1>

<p>Send an SMS to remember your appointment (if you made one)</p>

<p><a href="/send_sms" class="btn btn-primary">Send SMS</a></p>

<p><a href="/" class="btn btn-primary">Back to Homepage</a></p>